In [1]:
import pandas as pd

url = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet"

df = pd.read_parquet(url)

print(f"Number of columns: {len(df.columns)}")

print("Columns:")
print(df.columns.tolist())

/home/codespace/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/home/codespace/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

Number of columns: 19
Columns:
['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag', 'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 'congestion_surcharge', 'airport_fee']

In [2]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [3]:
import pandas as pd

url = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet"
df = pd.read_parquet(url)

df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])


df['duration'] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds() / 60


std_dev = df['duration'].std()

print(f"Standard Deviation of trip durations: {std_dev:.2f}")

Standard Deviation of trip durations: 42.59

In [4]:
print(df['duration'].count())

3066766

In [5]:
df = df[(df['duration'] >= 1) & (df['duration'] <= 60)]

In [6]:
print(df['duration'].count())

3009173

In [7]:
fraction_remaining =  3009173/ 3066766
percent_remaining = fraction_remaining * 100

In [8]:
print(f"Fraction of records remaining: {fraction_remaining:.4f}")
print(f"Percentage of records remaining: {percent_remaining:.2f}%")

Fraction of records remaining: 0.9812
Percentage of records remaining: 98.12%

In [9]:
from sklearn.feature_extraction import DictVectorizer

/home/codespace/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [10]:
df['PULocationID'] = df['PULocationID'].astype(str)
df['DOLocationID'] = df['DOLocationID'].astype(str)

In [11]:
dicts = df[['PULocationID', 'DOLocationID']].to_dict(orient='records')

In [12]:
dv = DictVectorizer()
X = dv.fit_transform(dicts)

In [13]:
print(f"Feature matrix shape: {X.shape}")
print(f"Number of features (columns): {X.shape[1]}")

Feature matrix shape: (3009173, 515)
Number of features (columns): 515

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np

In [15]:
y = df['duration'].values

In [16]:
lr = LinearRegression()
lr.fit(X, y)

LinearRegression()

In [17]:
y_pred = lr.predict(X)

In [18]:
rmse = mean_squared_error(y, y_pred, squared=False)

In [19]:
print(f"RMSE on training data: {rmse:.2f}")

RMSE on training data: 7.65

In [20]:

url = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet"


df_new = pd.read_parquet(url)


print(f"Number of columns: {len(df_new.columns)}")

Number of columns: 19

In [21]:

df_new['tpep_pickup_datetime'] = pd.to_datetime(df_new['tpep_pickup_datetime'])
df_new['tpep_dropoff_datetime'] = pd.to_datetime(df_new['tpep_dropoff_datetime'])


df_new['duration'] = (df_new['tpep_dropoff_datetime'] - df_new['tpep_pickup_datetime']).dt.total_seconds() / 60

In [22]:
df_new= df_new[(df_new['duration'] >= 1) & (df_new['duration'] <= 60)]

In [23]:
df_new['PULocationID'] = df_new['PULocationID'].astype(str)
df_new['DOLocationID'] = df_new['DOLocationID'].astype(str)

In [24]:
dicts_new = df_new[['PULocationID', 'DOLocationID']].to_dict(orient='records')

In [27]:


X_new = dv.transform(dicts_new)

In [28]:
y_new = df_new['duration'].values

In [29]:
y_pred_new = lr.predict(X_new)

In [30]:
rmse_val = mean_squared_error(y_new, y_pred_new, squared=False)

In [31]:

print(f"RMSE on validation data (February): {rmse_val:.2f}")

RMSE on validation data (February): 7.81